
/* =Menu
----------------------------------------------- */
.main-navigation,
.main-small-navigation {
    clear: both;
    @extend %color1-gradient;
}

.site-navigation {
    h1 {
        @include adjust-font-size-to($h3-size);
    }
}
.main-navigation {
    clear: both;
    display: block;
    float: left;
    width: 100%;
    ul {
        list-style: none;
        margin: 0;
        padding: 0 0.5em;
        text-align: center;
        ul {
            @extend %blackbg-blueinset;
            border-radius: 30px;
            @extend %blink;
            @extend %border-med-color2;
            display: none;
            float: left;
            padding: 0.25em;
            position: absolute;
            @extend %txta-center;
            top: 2.2em;
            left: 0;
            z-index: 99999;
            ul {
                left: 95%;
                top: 5%;
            }
            a {
                width: 200px;
                &:hover {
                }
            }
            li {
                margin: 0.25em;
            }
            &:hover > a {
            }
        }
    }
    li {
        display: inline-block;
        position: relative;
        margin: 0.5em 0.25em;
        &:hover,
        &:active,
        &:focus,
        &.current_page_item,
        // &.current_page_parent,
        &.current-menu-item{
            & > a {
                @extend %border-med-color2;
                padding: 3px 8px;
            }
        }
        &:hover {
            & > a {
                @extend %color2-gradient;
                color: white;
                text-shadow: 1px 1px 2px rgba($color1, 0.55);
                &:active {
                    @extend %color2-gradient-reversed;
                    text-shadow: 0px 1px 0 rgba(white, 0.55);
                    color: $color3;
                    @extend %border-med-color2;
                }
            }
            & > ul {
                display: block;
                animation: (fade-in 0.5s);
            }
        }
        &.current_page_item a,
        // &.current_page_parent a,
        &.current-menu-item a {
            @extend %blackbg-blueinset;
            animation: (shadow-blink 2s ease-in-out infinite alternate);
        }
    }
    a {
        @include button(5px 10px, 30px);
        @extend %light-gradient;
        box-shadow: 0 -3px 3px rgba(black, 0.2) inset, 0 2px 4px rgba(black, 0.2);
        color: $color2;
        font-weight: bold;
        min-width: 3em;
        &:hover,
        &:active,
        &:focus {
            box-shadow: none;
        }
    }
    .menu-item-home {
        a {
            &:before {
                @extend %icon-home:before;
            }

        }
    }
}

.menu-parent-item {
    > a {
        &:after {
            @extend %icon-caret-down:before;
            vertical-align: middle;
            margin-left: 0.25em;
            display: inline-block;
            transition: transform 0.25s;
        }
        &:hover,
        &:focus,
        &:active {
            &:after{
                transform: rotate(-180deg);
            }
        }
    }
}

/* Small menu */
.menu-toggle {
    cursor: pointer;
    padding: 0.25em 0.5em 0.25em 1.4em;
    color: white;
    text-shadow: 0 -2px 2px rgba(black, 0.5);
    margin-top: 0;
}

.no-js .main-small-navigation .menu {
    display: block;
}
.main-small-navigation {
    ul {
        margin: 0;
        padding: 0;
    }
    .menu {
        display: none;
        &.activated {
            display: block;
            animation: (fade-in 0.5s);
        }
        a {
            display: block;
            padding-left: 2em;
            color: white;
            border-bottom: 1px solid $color3;
            box-shadow: 0 1px 1px -1px rgba($color3,0.5);
            transition: background 0.5s;
            &:hover,
            &:focus {
                @extend %color2-gradient;
                text-decoration: none;
                color: white;
            }
            &:active {
                @extend %color2-gradient-reversed;
                color: $color3;
            }

        }
        li {
            margin-left: 0;
            border-top: 1px solid $color2;
            &.current_page_item a,
            &.current_page_parent a,
            &.current-menu-item a {
                @extend %blackbg-blueinset;
                animation: (shadow-blink 1.5s ease-in-out infinite alternate);
            }
        }
        ul {
            ul {
                a {
                    padding-left: 4em;
                }
                ul {
                    a {
                        padding-left: 6em;
                    }
                }
            }
            & > ul > li:first-child {
                border: none;
            }
        }
    }
}

.main-small-navigation,
.main-navigation {
    z-index: 1000;//For sticky menu
}