.aktt_tweet {
    .entry-content {
        background: white;
        @extend %rounded-corner-med;
        margin: 1.5em;
        padding: 1.5em;
        @include box-shadow(0 2px 3px 0px rgba(black, 0.5));
    }
    .media-object-container {
        float: left;
        margin-right: 1em;
    }
    .more-link {
        margin: 0 auto;
    }
    .thumbnail-wrapper {
        @extend %txta-center;
    }
    .thumbnail {
        @extend %framed;
        @extend %rounded-corner-med;
        display: inline-block;
        @include trailer;
    }
}
.twitter-avatar {
    @extend .media-object;
    @include box-shadow(0 0 0 4px white, 0 0 0 1px #CCC, 0 1px 1px 4px rgba(0, 0, 0, 0.4));
    margin: 5px;
}

.twitter-meta {
    a {
        &:before {
            @extend %icon-twitter:before;
        }
    }
}