
/* =Widgets
----------------------------------------------- */

.widget {
    margin: 0 0 1.5em;
    .comments-link {
        width: 15em;
        margin: 0 auto;
    }
    .more-link {
        margin: 0 auto;
    }
}
.widgetarea-container,
.bottom-sidebar  {
    .widget {
        @extend %light-inset;
        @extend %rounded-corner-big;
        > div,
        > p,
        > ul,
        > ol,
        > iframe {
            padding: 5%;
        }
        > ul,
        > ol {
            margin-left: 5%;
        }
    }
    .widget-title {
        @extend %txta-center;
        box-shadow: 0 -1px 1px $color3;
        @extend %color1-gradient;
        padding: 0.5em 10%;
        border-radius: 20px 20px 0 0 ;
        font-weight: normal;
        @media screen and (max-width: 990px) {
            padding-left: 5%;
        }
    }

}

.widgetarea-container,
#colophon,
.bottom-sidebar {
    .widget-title {
        color: white;
    }
}

.widget-title {
    @extend %h3-size;
}



/*** Search ***/
#searchform {
    label {
        position: relative;
        [data-icon] {
            position: absolute;
            left: 1em;
            color: white;
            top: 0em;
        }
    }
}

#s {
    padding-left: 2em;
    max-width: 12em;
    width: 70%;
    height: 2.5em;
    @extend %rounded-corner-big;
}

#searchsubmit {
    display: none;
}



/* Notification */

#notification-area {
    display: none;
    z-index: 2000;
    width: 100%;
    background: $contrast;
    padding: 0.5em 1em;
    color: $color1;
    font-weight: bold;
    border-bottom: 4px solid $color1;
    box-shadow: 0 3px 3px rgba(black, 0.5);
    @include clearfix;
    box-sizing: border-box;

    p {
        margin: 0;
        width: 80%;
        float: left;
        a{
            color: white;
            text-decoration: underline;
            &:hover,
            &:active,
            &:focus{
                color: $color1;
            }
        }
    }
    #close {
        padding: 7px 0;
        line-height: 16px;
        color: $error-color;
        float: right;
        &:hover,
        &:focus{
            color: black;
        }
        &:active {
         color: #fff;
     }
 }
}

/* Availability Widget */
.electric-availability-widget {
    @extend %txta-center;
    .availability-text {
        @extend %h3-size;
        font-family: $heading-font-family;
        margin-bottom: 0;
        font-weight: bold;
        margin-top: 0.7em;
    }
    .availability-level {
        @extend %rounded-corner-big;
        background: black;
        color: white;
        border-width: 2px;
        border-style: solid;
        max-width: 15em;
        margin: 0 auto;
        a {
            color: white;
            font-size: 2.5em;
            text-decoration: none;
            @extend [data-icon]:before;
        }
        &.low {
            border-color: $error-color;
            box-shadow: 0 0 3px 4px rgba($error-color, 0.6) inset;
            a:before {
                content: '\2b1a';
            }
        }
        &.med {
            border-color: $warning-color;
            box-shadow: 0 0 3px 2px rgba($warning-color, 0.7) inset;
            a:before {
                content: '\2b1b';
            }
        }
        &.high {
            border-color: $contrast;
            box-shadow: 0 0 3px 2px rgba($contrast, 0.7) inset;
            a:before {
                @extend %icon-meter-fast:before;
            }
        }
        &:hover {
            cursor: pointer;
        }
    }
}

/* Recent Comments */

.electric-recent-comments {
    .flexslider {
        .slides {
            img {
                width: auto;
            }
        }
    }
    .comment-author {
        @extend %h4-size;
        img {
            float: left;
        }
    }
    .comment {
        .comment-author {
            display: inline;
        }
    }
    .comment-content {
        clear: both;
        margin-top: 0.5em;
    }
}


/****** Recent Posts ****/
.electric-recent-entries {
    .entry-title {
        margin-top: 0;
        @extend %h3-size;
    }
}


.widget_archive {
    .widget-title{
        &:before {
            @extend %icon-calendar:before;
        }
    }
}

.widget_categories {
    .widget-title{
        &:before {
            @extend %icon-drawer:before;
        }
    }
}

.electric-ephemera-widget {
    .widget-title{
        &:before {
            @extend %icon-clock:before;
        }
    }
}

.electric-recent-entries,
.widget_recent_entries {
   .widget-title{
    &:before {
        @extend %icon-pencil:before;
    }
}
}

.electric-recent-comments,
.widget_recent_comments {
    .widget-title {
        &:before {
            @extend %icon-bubbles:before;
        }
    }
}

/****** Recent Work ****/
.electric-featured-works {
    .widget-title{
        &:before {
            @extend %icon-pushpin:before;
        }
    }
}

.portfolio-showcase {
    position: relative;
    margin: 10px;
    .portfolio-image {
        @extend %framed;
        @extend %rounded-corner-big;
        img {
            @extend %rounded-corner-big;
        }
    }
    .thumbs {
        list-style-type: none;
        padding-left: 0;
        li {
            @extend %rounded-corner-sml;
            display: inline-block;
            margin-right: 1em;
            &:hover,
            &:focus,
            &:active {
                img {
                    opacity: 1;
                }
            }
        }
        img {
            @extend %rounded-corner-sml;
            opacity: 0.5;
        }
        .flex-active {
            box-shadow: 0 0 0 5px white, 0 0 0 1px #CCC, 0 2px 2px 5px rgba(0, 0, 0, 0.5);
            img {
                opacity: 1;
            }
        }
        @include at-breakpoint($mobile-layout){
            display: none;
        }
    }
    .flex-caption {
        position: absolute;
        bottom: 0;
        background: black;
        background: rgba($color3, 0.5);
        color: white;
        width: 100%;
        border-radius: 0 0 20px 20px;
        padding: 0 20px 10px;
        box-sizing: border-box;
        .caption-title {
            color: white;
            @extend %h4-size;
        }
    }
    &.frontpage {
        .flex-direction-nav {
            position: absolute;
            width: 100%;
            top: 50%;
            font-size: 2em;
            .flex-next,
            .flex-prev {
                bottom: 1.6em;
                text-shadow: 1px 2px 1px black;
            }
            .flex-prev {
                left: -10px;
            }
            .flex-next {
                right: -5px;
            }
        }
    }
}

/****** Twitter ****/

.electric-twitter-posts {
    .widget-title {
        &:before {
            @extend %icon-twitter:before;
        }
    }
}

//Mostly for demo purposes:
.widget_facebook_likebox,
.widget_twitter_timeline {
    iframe {
        width: 90%!important;
        display: block;
        margin: 0 auto;
        background: none!important;
    }
}
